In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import matplotlib as mplib
import matplotlib.pyplot as plt
import seaborn as sns
from autocensus import Query

/Users/Ariel/Desktop/NYU/Summer 2021/Policy and Data Studio/Repos/Ariel_Medex/env/lib/python3.9/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
def generate_plots(year):
    # Configure query
    query = Query(
    estimate=1,
    years=year,
    variables=['S1901_C02_001E', 'S2201_C01_001E', 'S2201_C03_034E', 'S2704_C01_028E', 'B02003_002E', 'S2701_C03_051E', 'S2704_C01_014E', 'S2704_C01_015E', 'S0101_C01_001E' ],
    for_geo=['county:005','county:061', 'county:081', 'county:047', 'county:085'],
    in_geo=['state:36'],
    # Optional arg to add geometry: 'points', 'polygons', or None (default)
    geometry='points',
    # Fill in the following with your actual Census API key
    census_api_key='7135cc5c273bb1c460ac4b569e5e1380dcd5b870'
    )
    
# Run query and collect output in dataframe
dataframe = query.run()

NameError: name 'query' is not defined

In [3]:
for year in range(2012,2020):
    generate_plots(year)

In [21]:
dataframe.head()

,name,geo_id,geo_type,year,date,variable_code,variable_label,variable_concept,annotation,value,geometry
0,"Bronx County, New York",0500000US36005,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-73.85294 40.84871)
1,"Kings County, New York",0500000US36047,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-73.95064 40.63504)
2,"New York County, New York",0500000US36061,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-73.97019 40.77664)
3,"Queens County, New York",0500000US36081,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-73.83802 40.65857)
4,"Richmond County, New York",0500000US36085,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-74.13990 40.56126)

In [26]:
dataframe.groupby('variable_code').describe()

               year                                                       \
              count    mean  std     min     25%     50%     75%     max
variable_code
B02003_002E     5.0  2019.0  0.0  2019.0  2019.0  2019.0  2019.0  2019.0

              value
              count mean std min 25% 50% 75% max
variable_code
B02003_002E     0.0  NaN NaN NaN NaN NaN NaN NaN

In [5]:
dataframe.count()

NameError: name 'dataframe' is not defined

In [24]:
dataframe.head()

,name,geo_id,geo_type,year,date,variable_code,variable_label,variable_concept,annotation,value,geometry
0,"Bronx County, New York",0500000US36005,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-73.85294 40.84871)
1,"Kings County, New York",0500000US36047,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-73.95064 40.63504)
2,"New York County, New York",0500000US36061,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-73.97019 40.77664)
3,"Queens County, New York",0500000US36081,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-73.83802 40.65857)
4,"Richmond County, New York",0500000US36085,county,2019,2019-12-31,B02003_002E,Estimate!!Total:!!Population of one race:,DETAILED RACE,NaN,NaN,POINT (-74.13990 40.56126)

In [ ]:
 # Run query and collect output in dataframe
    df = query.run()
    sns.barplot(x='Selected Geographies', y='Average Income, M Yes', data=df)
    plt.ylabel('Average Income for Medicaid Recipients')
    plt.xlabel('NYC Borough')
    plt.title('Average Income of Medicaid Recipients by Borough')
    plt.savefig(f'census_plot_{year}.png')